@charset "UTF-8";

body {
    background-color: white;
    color: rgba(0,0,0,1);
}

p{
    text-align: justify;
    text-indent: 50px;
}

/*Formatação de imagens com legendas*/

figure.foto-legenda{
    position: relative;
    border: 8px solid white;
    box-shadow: 1px 1px 4px black;    
}

figure.foto-legenda img{
    width: 100%;
    height: 100%
}     

figure.foto-legenda figcaption{
    position: absolute;
    top: 0px;
    background-color: rgba(0,0,0,.4);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 1s;
}

figure.foto-legenda:hover figcaption{
    opacity: 1;
}

/*Formatação do Menu*/

nav#menu{
    display: block;
}

nav#menu ul{
    list-style: none;
    text-transform: uppercase;    
    position: absolute;
    top:-20px;
    left: 300px;
}
nav#menu li{
    display: inline-block;
    background-color: #dddddd;
    padding: 2px;
}

nav#menu h1{
    display: none;
}